@model SisWebViaje.Models.RUTA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RUTA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RUTNOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUTNOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAGOOCHO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAGOOCHO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RUTIMG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUTIMG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RUTCOD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
