@model IEnumerable<SisWebViaje.Models.Ruta>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado</title>

</head>
<body>
    @{
        if (@TempData["mensaje"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["mensaje"]
            </div>
        }
    }

    <table class="table table-hover text-center" id="DataListar">
        <thead style="background: #04429C; color:#ffffff;">
            <tr >
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.RUTCOD)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.RUTNOM)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.PAGOOCHO)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.RUTIMG)
                </th>
                <th class="text-center">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RUTCOD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RUTNOM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PAGOOCHO)
                    </td>
                    <td>
                        <img src="@Url.Content("~/Content/Imagen/"+item.RUTIMG)" onerror="src='@Url.Content("~/Content/Imagen/sin_imagen.png")'" width="90" height="90" />
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.RUTCOD }, new { @class = "btn btn-info" })
                        @*Html.ActionLink("Eliminar", "Delete", new { id = item.RUTCOD }, new { @class = "btn btn-danger" })*@
                        <a href="javascript:ConfirmarDelete('@item.RUTCOD')" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>

    <script type="text/javascript">

        $(document).ready(
            function () {
                var table = $('#DataListar')
                    .DataTable(
                        {
                            language: {
                                "lengthMenu": "Mostrar _MENU_ registros",
                                "zeroRecords": "No se encontraron resultados",
                                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                                "sSearch": "Buscar:",
                                "oPaginate": {
                                    "sFirst": "Primero",
                                    "sLast": "Último",
                                    "sNext": "Siguiente",
                                    "sPrevious": "Anterior"
                                },
                                "sProcessing": "Procesando...",
                            }
                        });
            });
    </script>
</body>
</html>
